channels==3.0.4
django==4.0.0
ipython
requests
psycopg2
django-cors-headers
asgi_redis
celery
django-celery-beat
kombu
paho-mqtt
pandas
django-redis
PyJWT
gunicorn
django-rq
numpy
pyotp
Pillow
django-phonenumber-field
django-phonenumbers
confluent-kafka
pymongo
channels_redis
daphne
reportlab
openpyxl
django-otp
django-two-factor-auth
qrcode
cryptography
pycryptodome
pymodbus
boto3
psutil
google-auth==2.43.0
pdfkit
wkhtmltopdf
django-sslserver
deep-translator
dotenv
